CompileFlags:
  Add: [-Wall, -Weffc++, -Wextra, -Wconversion, -Wsign-conversion, -Werror, -std=c++2b]
  Compiler: g++

# InlayHints:
#   BlockEnd: No
#   Designators: Yes
#   Enabled: Yes
#   ParameterNames: Yes
#   DeducedTypes: Yes
#   TypeNameLimit: 24
